img {
    max-width: 100%; /* This ensures an image never breaks it's container */
}


.track-img {
    position: relative;
}

.track-text {
    position: absolute;
    background-color: black;
    color: white;
    opacity: 0.75;

    left: 15px;
    right: 15px;

    bottom: 5px;

    padding: 5px;
}

.track-play {
    position: absolute;

    top:0;
    bottom:0;

    left: 15px;
    right: 15px;
}

.track-play-inner {
    position: absolute;
    text-align: center;
    font-size: 25px;
    background-color: black;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    color: white;

    padding-top: 13px;

    top: 30%;
    left: 50%;

    transform: translate(-50%, -30%);
    opacity: 0;
}

.track-play-inner:hover {
    opacity: 0.8;
    animation: fade-in;
    animation-duration: 0.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;;
    } 
    to {
        opacity: 0.8;
    }
}